# Virtual Environment
venv/
env/
ENV/

# Environment Variables
.env
.env.*

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code
.vscode/

# PyCharm
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Test / coverage
.coverage
htmlcov/

# Build files
build/
dist/
*.egg-info/